# Part 1 -- Intro

Load the tips dataset from seaborn

In [1]:
import seaborn as sns

tips = sns.load_dataset('tips')
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

### Filter rows by `smoker == 'No'` and `total_bill >= 10`

### What is the average `total_bill` for each value of `smoker`, `day`, and `time`

# Part 2 -- Tidy

Taken from the r4ds "Tidy Data" Chapter: https://r4ds.had.co.nz/exploratory-data-analysis.html

### Tidy the `tbl2` dataset

### Tidy the `tbl3` dataset

# Part 3 -- Apply functions

Look at the `table3` dataset

### Write a function that takes a value of `rate` and parses out the total population.

### Set the population to a new column

# Part 4 -- Plots

### Create a figure with 2 axes
### distplot of `fare` in one axes
### boxplot of `class` and `fare` on the other axes

# Part 5 -- Models

### Subset `survived`, `class`, `who`

### Create dummy encoded dataset

### Fit a logistic regression on `survived`